<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavDropdown">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a aria-current="page" class="nav-link active" th:href="@{/}" >All Posts</a>
      </li>
      <li class="nav-item active">
        <a aria-current="page" class="nav-link active" th:href="@{/}" >Test</a>
      </li>

    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2 th:text="${post.title}"></h2>
      <hr/>
      <h4 th:text="${post.shortDescription}"></h4>
      <hr />
      <div th:utext="${post.content}">
      </div>
      <hr />
      <div>
        <h3>Comments:</h3>
        <div th:each = "comment: ${post.comments}">
          <div>
            <p><b>Name:</b><strong th:text="${comment.name}"></strong></p>
            <p><b>Date:<strong th:text="${#temporals.format(comment.createdOn, 'dd MMMM yyyy')}"></strong></b></p>
            <p th:text="${comment.content}"></p>
            <br />
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2>Leave a comment</h2>
          </div>
          <div class="card-body">
            <form
                    role="form"
                    method="post"
                    th:action="@{/{postUrl}/comments(postUrl=${post.url})}"
                    th:object="${comment}"
            >
              <div class="row">
                <div class="col-md-5 mb-3">
                  <input
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder="Enter name"
                          th:field="*{name}"
                          type="text"
                  />
                  <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5 mb-3">
                  <input
                          class="form-control"
                          id="email"
                          name="email"
                          placeholder="Enter email"
                          th:field="*{email}"
                          type="text"
                  />
                  <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-9 mb-3">
                                <textarea
                                        class="form-control"
                                        id = "content"
                                        name="content"
                                        placeholder="Enter comment"
                                        rows="8"
                                        th:field="*{content}"
                                >
                                </textarea>
                  <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></p>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-5">
                  <button
                          class="btn btn-primary"
                          type="submit"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
</div>



</body>
</html>