<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a aria-current="page" class="nav-link active" th:href="@{/}" >All Posts</a>
            </li>
            <li class="nav-item active">
                <a aria-current="page" class="nav-link active" th:href="@{/register}" >Register</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card w-100 p-3">
            <div class="card-header">
                <h2 class="text-center">Registration</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have registered successfully to our Blog app!
                </div>
            </div>
            <div class="card-body">
                <form method="post"
                      role="form"
                      th:action="@{/register/save}"
                      th:object="${user}">

                    <div class="form-group mb-3">
                        <label class="form-label"> First Name</label>
                        <input
                                class="form-control"
                                id="firstName"
                                name="firstName"
                                placeholder="Enter first name"
                                type="text"
                                th:field="*{firstName}"
                        />
                        <p th:if="${#fields.hasErrors('firstName')}" class="text-danger"
                           th:errors="*{firstName}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label"> Last Name</label>
                        <input
                                class="form-control"
                                id="lastName"
                                name="lastName"
                                placeholder="Enter last name"
                                type="text"
                                th:field="*{lastName}"
                        />
                        <p th:if="${#fields.hasErrors('lastName')}" class="text-danger"
                           th:errors="*{lastName}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label"> Email</label>
                        <input
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Enter email address"
                                type="email"
                                th:field="*{email}"
                        />
                        <p th:if="${#fields.hasErrors('email')}" class="text-danger"
                           th:errors="*{email}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label"> Password</label>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Enter password"
                                type="password"
                                th:field="*{password}"
                        />
                        <p th:if="${#fields.hasErrors('password')}" class="text-danger"
                           th:errors="*{password}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                        <span> Already registered?
                            <a th:href="@{/login}"> Login Here</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>